:root {
    --purple: #643499;
    --light-purple: #8042C3;
}

h2 {
    margin-bottom: 20px;
}

a {
    color: #643499;
}

a:hover {
    color: var(--light-purple);
}

a:active {
    color: var(--purple);
}

/* Buttons style */

.button {
    background-color: var(--purple);
    border: none;
}

.button:hover {
    background-color: var(--light-purple);
    transition: 0.5s; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
}

.button:focus {
    background-color: var(--light-purple);  
}

.button:active {
    background-color: var(--light-purple);
}

/* Navigation bar */

.navigation {
    background-color: var(--purple);
}

.contact {
    color: #643499;
    font-size:30px;
    padding: 10px;
}

